Footer {
  background: $background;
  padding: 0 2;
}

Header {
  dock: top;
  layout: horizontal;
  padding: 1 3;
  width: 100%;
  height: 3;
}

Clock {
  background: $background;
  content-align: center middle;
}

MainScreen {
  layout: grid;
  grid-size: 2 1;
  grid-columns: 1fr 3fr;
  padding: 0 2;
}

FriendList {
  background: $background;
  background-tint: $background;
  border: round $border 40%;
  border-title-style: none;
  padding: 0 1;

  &:focus-within {
    border: round $border;
    border-title-style: bold;

    & > ListItem.-highlight {
      color: $text-primary;
      background: $primary-muted;
    }

    & > ListItem.-selected {
      color: $block-cursor-foreground;
      background: $block-cursor-background;
    }

    & > ListItem.-selected.-highlight {
      color: $text-primary;
      background: $block-cursor-background;
    }
  }

  & > ListItem.-selected {
    color: $block-cursor-foreground;
    background: $primary-muted;
  }

  & > ListItem.-highlight {
    color: $foreground;
    background: $background;
  }

  & > ListItem.-selected.-highlight {
    color: $block-cursor-foreground;
    background: $primary-muted;
  }
}

Chat {
  layout: vertical;
  border: round $border 40%;
  border-title-style: none;
  padding: 0 1;

  &:focus-within {
    border: round $border;
    border-title-style: bold;
  }
}

ChatMessageList {
  background: $background;
  background-tint: $background;
  padding: 1 0;
  width: 100%;
  height: 3fr;
}

ChatInput {
  background: $background;
  border: round $border 40%;
  border-title-style: none;
  height: 1fr;

  &:focus-within {
    border: round $border;
    border-title-style: bold;
  }
}